<?xml version="1.0" encoding="UTF-8" standalone="no"?><root>
  <context owner="MainSurface">
    <localSaveDir>C:\Users\story\Desktop</localSaveDir>
    <remoteFilePath>http://upos-hz-mirrorhy.acgvideo.com/upgcxcode/26/67/67396726/67396726-1-6.mp4?e=ig8euxZM2rNcNbU1hwdVtWRVhbdVhoNvNC8BqJIzNbfq99M=&amp;deadline=1545003567&amp;gen=playurl&amp;nbs=1&amp;oi=1879725114&amp;os=hy&amp;platform=html5&amp;trid=384cbbb974b049398b224ffe0526ae65&amp;uipk=5&amp;upsig=a9dac8984ef68e281a328feda708d276</remoteFilePath>
    <width>1024</width>
    <height>600</height>
  </context>
</root>